@model JXDL.Manage.Models.Admin.EditUserViewModel
@using System.Web.Optimization
@{
    ViewBag.Title = "编辑用户";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section JS {
    @Scripts.Render("~/bundles/jqueryval")
}
<body class="hold-transition sidebar-mini" style="background-color:#ecf0f5;">
    <div class="wrapper">
        <!-- Content Wrapper. Contains page content -->
        <div>
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    增加新用户
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-12">
                        <!-- general form elements -->
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title"></h3>
                            </div><!-- /.box-header -->
                            <!-- form start -->
                            <div class="row">
                                <div class="col-md-6">
                                    @using (Html.BeginForm("EditUser", "Admin", FormMethod.Post, new { role = "form" }))
                                    {
                                        <div class="box-body">
                                            <div class="form-group">
                                                <label>用户名</label>
                                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "请输入用户名",@readonly="" })
                                                @Html.HiddenFor(m=>m.ID)
                                            </div>
                                            <div class="form-group">
                                                <label>密码</label>
                                                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "请输入新密码" })
                                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                <label>所属机构</label>
                                                @Html.DropDownListFor(m => m.Power, Model.PowerList, "请选择所属机构", new { @class = "form-control", placeholder = "请确认新密码" })
                                            </div>
                                            <div class="checkbox text-">
                                                <label>
                                                    <p>@Html.ValidationSummary(true, "", new { @class = "text-danger" })</p>
                                                </label>
                                            </div>
                                        </div><!-- /.box-body -->

                                        <div class="box-footer">
                                            <button type="submit" class="btn btn-primary">更新用户</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div><!-- /.box -->
                    </div><!--/.col (left) -->
                </div>   <!-- /.row -->
            </section><!-- /.content -->
        </div><!-- /.content-wrapper -->
    </div><!-- ./wrapper -->
</body>


